################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

XC.XSC.API/obj
XC.XSC.API/bin
XC.XSC.Data/obj
XC.XSC.Data/bin
XC.XSC.Extentions/obj
XC.XSC.Extentions/bin
XC.XSC.Repositories/obj
XC.XSC.Repositories/bin
XC.XSC.Service/obj
XC.XSC.Service/bin
XC.XSC.Domain/XC.XSC.Models/obj
XC.XSC.Domain/XC.XSC.Models/bin
XC.XSC.Domain/XC.XSC.ViewModels/obj
XC.XSC.Domain/XC.XSC.ViewModels/bin
XC.XSC.Integrations/XC.CCMP.Caching/obj
XC.XSC.Integrations/XC.CCMP.Caching/bin
XC.XSC.Integrations/XC.CCMP.Queue.MessageAdapter/obj
XC.XSC.Integrations/XC.CCMP.Queue.MessageAdapter/bin
XC.XSC.Integrations/XC.CCMP.Queue.MessageBroker/obj
XC.XSC.Integrations/XC.CCMP.Queue.MessageBroker/bin
XC.XSC.Integrations/XC.CCMP.Logger/obj
XC.XSC.Integrations/XC.CCMP.Logger/bin
XC.XSC.Integrations/XC.CCMP.Queue/obj
XC.XSC.Integrations/XC.CCMP.Queue/bin
/.vs
XC.XSC.DataStorage.Tests/bin
XC.XSC.DataStorage.Tests/obj
XC.XSC.DataStorage.Database/obj
XC.XSC.DataStorage.Database/bin
XC.XSC.UI/.vscode
XC.XSC.UI/obj
XC.XSC.Tests/bin
XC.XSC.Tests/obj
XC.CCMP.Domain/XC.XSC.Models/obj
XC.XSC.Database/bin
XC.XSC.Database/obj
XC.XSC.UI/package-lock.json
bin/Debug
obj/Debug
obj/Docker
XC.XSC.API/cloginternallog.txt
XC.XSC.UI/package-lock.json
XC.XSC.Database/XC.XSC.Database.dbmdl
XC.XSC.Database/XC.XSC.Database.jfm
XC.XSC.Integrations/XC.CCMP.KeyVault/bin
XC.XSC.Integrations/XC.CCMP.KeyVault/obj
XC.XSC.Integrations/XC.XSC.EmailService/obj
XC.XSC.Integrations/XC.XSC.EmailService/bin/
XC.XSC.Data/Migrations
XC.XSC.Domain/XC.XSC.Model.Profiles/bin/
XC.XSC.Domain/XC.XSC.Model.Profiles/obj/
XC.XSC.Integrations/XSC.CCMP.DataStorage/obj/
XC.XSC.Integrations/XSC.CCMP.DataStorage/bin/
XC.XSC.Integrations/XC.XSC.ValidateMail/obj/
XC.XSC.Integrations/XC.XSC.ValidateMail/bin/
XC.XSC.Integrations/XC.XSC.UAM/bin/
XC.XSC.Integrations/XC.XSC.UAM/obj/
XC.XSC.Integrations/XC.XSC.Workflow/bin/
XC.XSC.Integrations/XC.XSC.Workflow/obj/
XC.XSC.Integrations/XC.XSC.EMS/bin/
XC.XSC.Integrations/XC.XSC.EMS/obj/
XC.XSC.API/{basedir}/
XC.XSC.API/XC.XSC.API.csproj.user
XC.XSC.Integrations/XC.CCMP.IAM/obj/
XC.XSC.Integrations/XC.CCMP.IAM/bin/
XC.XSC.Integrations/XSC.CCMP.IAM/obj/
XC.XSC.Integrations/XSC.CCMP.IAM/bin/
