<div class="main-wrapper">

  <div class="row login-page6">
    <div class="col-md-5 col-sm-12 full-height">
      <form class="login-form needs-validation" id="recover-form"
            [formGroup]="forgotPasswordForm" autocomplete="off" (ngSubmit)="resetForgotPassword(forgotPasswordForm.value)" novalidate>
        <div class="form-header text-center">
          <img src="../assets/css/images/logo.png" class="form-logo" alt="logo" />
        </div>
        <div class="mx-5 mb-5">
          <h4 class="form-title text-center">
            Setup New Password
          </h4>
        </div>

        <div class="form-group">
          <alert-message #alertMessage [fade]="true"></alert-message>
        </div>

        <div class="form-group">
          <i class="fa fa-lock"></i>
          <input type="password" class="form-control" name="passwordNew" formControlName="PasswordNew" placeholder="Enter New Password" required autocomplete="off" maxlength="14">
        </div>
        <div class="form-group">
          <i class="fa fa-lock"></i>
          <input type="password" class="form-control" name="passwordConfirm" formControlName="PasswordConfirm" placeholder="Confirm Password" required autocomplete="off" maxlength="14">
        </div>

        <div class="text-danger fw-bolder" *ngIf='!passwordsMatching && forgotPasswordForm.controls["PasswordConfirm"].dirty'>
          Passwords did not match
        </div>
        <div class="text-danger fw-bolder" *ngIf='!passwordCriteriaMatching'>
          The password should be minimum 8 (and maximum 14) characters long. It must be alphanumeric and should also include at least 1 special character and one capital alphabet.
        </div>

        <div class="pos-relative">
          <a class="btn btn-primary login-btn" [style]="disableStyle">
            <button class="btn btn-primary login-btn resetbtn" type="submit">Submit</button>
          </a>
        </div>

      </form>
    </div>
  </div>
</div>
