<div class="row unauthorized-page" appNoRightClick>
    <div class="col-md-12 d-flex justify-content-center align-content-center">
        <div class="un-icon">
            <div class="hover-point"></div>
            <div class="hover-point"></div>
            <div class="hover-point"></div>
            <div class="hover-point"></div>
            <div class="hover-point"></div>
            <div class="hover-point"></div>
            <div class="hover-point"></div>
            <div class="hover-point"></div>
            <img src="/assets/images/unauthorized.jpg">
        </div>
    </div>
</div>