<div class="row login-page6">
  <div class="col-md-5 col-sm-12 full-height">
    <form class="login-form needs-validation" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
      <div class="form-header  text-center">
        <img src="../assets/css/images/logo.png" class="form-logo" alt="logo" />

      </div>
      <div class="mx-5 mb-5">
        <h2 class="form-title text-center">
          Reset Password
        </h2>
      </div>
      <div class="form-group">
        <alert-message #alertMessage [fade]="true"></alert-message>
      </div>
      <div class="form-group">
        <!-- <i class="far fa-eye-slash pwd-eye" id="pwd-eye-oldPassword" (click)="ShowPassword($event)"></i> -->
        <i class="fa fa-lock"></i>
        <input class="form-control" type="password" name="oldpassword" id="oldpassword" formControlName="oldPassword" placeholder="Enter Old Password" required autocomplete="off" maxlength="14">
        <span class="focus-input pwd"></span>
        <div class="invalid-feedback">
          Enter Old Password
        </div>
      </div>

      <div class="form-group">
        <!-- <i class="far fa-eye-slash pwd-eye" id="pwd-eye-newPassword" (click)="ShowPassword($event)"></i> -->
        <i class="fa fa-lock"></i>
        <input class="form-control" type="password" name="newpassword" id="newpassword" formControlName="newPassword" placeholder="Enter New Password" required autocomplete="off" maxlength="14">
        <span class="focus-input pwd"></span>
        <div class="invalid-feedback">
          Enter New Password
        </div>
      </div>

      <div class="form-group">
        <!-- <i class="far fa-eye-slash pwd-eye" id="pwd-eye-newConfirmPassword" (click)="ShowPassword($event)"></i> -->
        <i class="fa fa-lock"></i>
        <input class="form-control" type="password" name="newconfirmpassword" id="newconfirmpassword" formControlName="confirmNewPassword" placeholder="Confirm New Password"
               required autocomplete="off" maxlength="14">
        <span class="focus-input pwd"></span>
        <div class="invalid-feedback">
          Enter Confirm Password
        </div>
      </div>

      <div class="text-danger fw-bolder" *ngIf='!passwordsMatching && resetPasswordForm.controls["confirmNewPassword"].dirty'>
        Passwords did not match
      </div>
      <div class="text-danger fw-bolder" *ngIf='!passwordCriteriaMatching'>
        The password should be minimum 8 (and maximum 14) characters long. It must be alphanumeric and should also include at least 1 special character and one capital alphabet.
      </div>

      <div class="pos-relative">
        <a class="btn btn-primary login-btn">
          <button class="btn btn-primary login-btn" type="submit" [style]="disableStyle">
            Submit
          </button>
        </a>
      </div>
      <div class="row">
        <div class="col-12">
          <a class="txt1" href="javascript:void(0)" routerLink="Dashboard">
            <i class="fas fa-long-arrow-alt-left"></i> Back
          </a>
        </div>
      </div>

    </form>
  </div>

</div>
