<div id="resetsuccess-msg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="mt-3 mb-3 text-center">
          <i class="fa fa-2x text-success fa-check-circle"></i>
          <h6 class="pt-2 pb-2">Password Changed Successfully</h6>
          <a class="txt1" (click)="BackToLogInPage()">

            <i class="fas fa-long-arrow-alt-left"></i> Back to Sign In Page
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
