.p-button.p-button-icon-only {
  background-color: #0365b0;
}

.p-dropdown, .p-multiselect {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: calc(2em + 0.85rem + 2.5px);
}
.p-dropdown .p-multiselect-label, .p-multiselect .p-multiselect-label {
  padding: .375rem 2.25rem .375rem .75rem;
  font-weight: 400;
  font-size: 14px;
  color: black !important;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-calendar-w-btn .p-inputtext {
  border-radius: 0.7rem;
}

.p-calendar {
  width: 100%;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.7rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: calc(2em + 0.85rem + 2.5px);
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f3f6f9 !important;
  opacity: 1;
}



.autocomplete-width {
  width: 100% !important;
}

.p-autocomplete {
  width: 100% !important;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: calc(2em + 0.85rem + 2.5px);
}

.p-autocomplete-input {
  width: 100% !important;
}

.p-component:disabled {
  background-color: #e9ecef;
  opacity: 1;
  border: 0px;
}

.queryReply textarea.form-control {
  height: 10rem;
}

.checkBox {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 20px;
  height: 20px;
  color: #495057;
  border-radius: 3px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

input[type=checkbox]:disabled:checked + label:before {
  box-shadow: none;
  border-color: rgb(173, 44, 44);
  background-color: rgb(236, 22, 22);
}

input[type=checkbox]:disabled {
  color: black;
}

.range {
  margin-left: -1rem;
}

.commonLabel {
  font-size: 13px;
}

.cke_dialog_open .p-dialog-mask {
  z-index: 0 !important;
}

.form-control-file, .form-control-range {
  display: block;
  width: 7rem;
}

.p-inputswitch .p-inputswitch-slider {
  width: 90%;
  height: 90%;
  background: #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 30px;
}

.p-timepicker > div {
  display: inline !important;
  align-items: center;
  flex-direction: column;
}

.p-inputswitch {
  -ms-user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  top: 0.7rem;
  left: 0.7rem;
}

.p-multiselect-panel{
  z-index: 9999 !important;
}

select.ng-invalid{
  border: 1px solid #dadada !important;
}

.p-disabled{
  opacity: 1;
  background-color: #f3f6f9 !important;
}

.p-multiselect{
  border-radius: 6px;
  color: #181824;
  border: 1px solid #dadada;
  height: 33px;
  font-size: 14px
}

.form-control.ng-invalid{
  border: 1px solid #dadada !important;
}