<div class="mt-3 mb-3 text-center">
  <div class="row">
    <div class="col-lg-6 offset-3">
      <i class="fa fa-external-link-square-alt"></i>
      <select class="form-select" (change)="LegalEntityChanged($event)">
        <option value="">Select Legal Entity</option>
        <option *ngFor="let EntityList of legalEntityList" value={{EntityList.value}}>
          {{EntityList.Text}}
        </option>
      </select>
    </div>
  </div>
  <button type="button" class="btn btn-primary mt-4" (click)="SubmitLegalEntityList()">Submit</button>
</div>
