<form *ngIf="!IsMailSendSuccessfully" class="login-form needs-validation" id="recover-form"
      [formGroup]="recoverPasswordForm"
      autocomplete="off"
      (ngSubmit)="sendPasswordResetEmail(recoverPasswordForm.value)" novalidate>
  <div class="form-header text-center">
    <img src="../assets/css/images/logo.png" class="form-logo" alt="logo" />
  </div>
  <div class="mx-1 mb-4">
    <h4 class="form-title text-center">
      Reset Your Password
    </h4>
    <p class="mb-0 text-center">We will send you an email to reset your password.</p>
  </div>

  <div class="form-group">
    <alert-message #alertMessage [fade]="true"></alert-message>
  </div>

  <div class="form-group">
    <i class="fa fa-envelope"></i>
    <input type="email" class="form-control"
           id="recoveryEmailId"
           formControlName="recoveryEmailId"
           name="recoveryEmailId"
           [ngModel]="recoveryEmailId"
           placeholder="Recovery Email Id" required>
    <div class="text-danger"
         *ngIf="emailid['recoveryEmailId'].errors?.['email'] && emailid['recoveryEmailId'].dirty">
      Please enter a valid email
    </div>
  </div>

  <div class="pos-relative">
    <a class="btn btn-primary login-btn">
      <button class="btn btn-primary login-btn" type="submit">Submit</button>
    </a>
  </div>

  <div class="col-12">
    <a class="txt1" href="javascript:void(0)" id="to-login" (click)="backToSignIn('FORGOT')">

      <i class="fas fa-long-arrow-alt-left"></i> Back to Sign In Page
    </a>
  </div>

</form>

<div *ngIf="IsMailSendSuccessfully" class="login-form passwordresetrequestsent-msg  text-center">
  <div class="form-header text-center">
    <img src="../assets/css/images/logo.png" class="form-logo" alt="logo" />
  </div>
  <div class="mx-5 mb-3">
    <h5 class="strong">Password Reset Request</h5>
  </div>

  <div class="mb-3 text-center">
    <span class="material-icons-outlined text-primary">mail</span>
    <p>Password Reset link has been sent to your Email ID</p>
  </div>
</div>
